@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap  ');

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: steelblue;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: lightblue;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 1.8em;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2em 3em;
  border-radius: 5px;
}

.container h1 {
  margin-bottom: 1.5em;
  text-align: center;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  display: block;
  padding: 15px 0;
  font-size: 1.2em;
  outline: none;
}
