@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  padding: 20px;
}

.container {
  background-color: whitesmoke;
  width: 800px;
  max-width: 100%;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
  opacity: 0.5;
  font-size: 1.2rem;
  font-weight: bold;
}

.joke {
  font-size: 1.4rem;
  margin: 2.5em auto;
  letter-spacing: 1px;
  line-height: 1.3em;
  max-width: 600px;
}

.btn {
  color: white;
  background-color: slateblue;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
